<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <style>
  </style>
</head>
<body>
  <div id="chat">
    <h2>Chat with your connection</h2>
    <ul id="messages"></ul>
    <form id="form">
      <input id="input" autocomplete="off"
    placeholder="Type a message..."/>
    <button>send</button>
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket=io();
  const form=document.getElementById('form');
  const input=document.getElementById('input');
  const message=document.getElementById('message');
  form.addEventListener('submit',function(e){
    e.preventDefault();
    if(input.value){
      socket.emit('chat message',input.value);
      input.value='';
    }
  });
  socket.on('chat message',function(msg){
    const item=document.createElement('li');
    item.textContent=msg;
    message.appendChild(item);
    window.scrollTo(0,
      document.body.scrollHeight);
  });
    
</script>
</body>
</html>